# build directory for the googletest unit test suite
protocol-implementation/C/test/build

# Python linking directory
protocol-implementation/Python/src/emb_ser_protocol/__pycache__
protocol-implementation/Python/dist

# Example build directory
examples/Arduino/sketches/basic_example/build/

# Kotlin specifics
# Ignore Gradle project-specific cache directory
protocol-implementation/Kotlin/.gradle

# Ignore Gradle build output directory
protocol-implementation/Kotlin/build
protocol-implementation/Kotlin/serial-protocol/build

# Ignore Gradle settings file for the utility project
utilities/packet-sniffer/.gradle

# Ignore Gradle build output directory for the utility project
utilities/packet-sniffer/build
utilities/packet-sniffer/app/build