# build directory for the googletest unit test suite
protocol-implementation/C/test/build

# Python linking directory
protocol-implementation/Python/__pycache__

# Example build directory
examples/Arduino/sketches/basic_example/build/

# Kotlin specifics
# Ignore Gradle project-specific cache directory
protocol-implementation/Kotlin/.gradle

# Ignore Gradle build output directory
protocol-implementation/Kotlin/build
